node_modules
.env
coverage
coverage.json
typechain
typechain-types

#Hardhat files
cache
artifacts
src/types/
dist/
abi/

.DS_Store
.openzeppelin/
*.txt
*.swp
*.txt
yarn-error.log

.env
.env.production
.env.staging